.parent {
  color: #000080;
  display: flex;
  justify-content: space-around;
  height:70px; 
}
.child {
  width: 100px;
  padding: 10px;
  margin: 10px;
}
.menu {
  justify-content: flex-end;
  display: flex;
  width: 400px;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
  margin-right: 5px;
}
.img {
  width: 50%;
  z-index: auto;
  position: absolute;
  bottom: 350px;
  left: 550px;
}
.box {
  width: 750px;
  height: 150px;
  background: #000080;
}
.txt {
  position: relative;
  top: 280px;
}
h3 {
  font-size: 50px;
}

