.parent {
  color: #000080;
  display: flex;
  justify-content: space-around;
}
.child {
  width: 100px;
  padding: 10px;
  margin: 10px;
}
.menu {
  justify-content: flex-end;
  display: flex;
  width: 400px;
  font-size: 12px;
  padding: 10px;
  margin: 10px;
  margin-right: 5px;
}
.img {
  width: 50%;
  z-index: auto;
}
.box {
  width: 400px;
  height: 200px;
  background: #000080;
}
.txt {
  position: relative;
  top: 50px;
  left: 50px;
}
